@{
    Layout = null;
}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
     
    <html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Detail</title>
    <script src="/js/jquery.js" type="text/javascript"></script>
    <link href="/css/Detail.css" rel="stylesheet" type="text/css" />
</head>
<body>
        <div id="bgp">
            <img src="../../image/login.jpg" / alt="" class="pic"/>
        </div>
    <div class="mainbody">
        <p>添加电影</p>
        <form id="form" action="@ViewBag.Submit" method="post" enctype="multipart/form-data" style="padding:20px">
        <table class="table">
            <tr class="bg"><td>标题</td><td><input name="Name" type="text" value="@ViewBag.Item.Name" /></td></tr>
            <tr class="bg"><td>类型</td><td><select name="TypeName">
            <option value="xiju">喜剧</option>
            <option value="dongzuo">动作</option>
            <option value="aiqing">爱情</option>
            <option value="wuxia">武侠</option>
            <option value="zhanzheng">战争</option>
            <option value="kehuan">科幻</option>
            <option value="kongbu">恐怖</option>
            <option value="fanzui">犯罪</option>
            <option value="jingsong">惊悚</option>
            <option value="juqing">剧情</option>
            <option value="qita">其他</option>
            </select></td>          
            </tr>
             <tr class="bg"><td>演员</td><td><input name="Actors" type="text" value="@ViewBag.Item.Actors" /></td></tr> 
             @if (ViewBag.Item.ID == 0)
             {            
             <tr class="bg"><td>封面图片</td><td><input name="Img" type="file" /></td></tr>
             <tr class="bg"><td>电影</td><td><input name="movie" type="file" /></td></tr>
             }
             else
             {
                 <input type="hidden" name="ID" value="@ViewBag.Item.ID" />
             }
            <tr class="bg"><td>介绍</td><td><input name="Introduce" type="text" value="@ViewBag.Item.Introduce"/></td></tr>
            <tr><td>评分</td><td><input name="Score" type="text" value="@ViewBag.Item.Score" /></td></tr>
            
            <tr class="bg"><td>&nbsp;</td><td> <input type="submit" id="submit" value="提 交"/ style="width:50px;"></td></tr>
        </table>
        </form>
    </div>
    <script type="text/javascript">
       
    </script>
</body>
</html>
